@font-face {
  font-family: 'D-DIN Regular';
  src: url('../public/fonts/d-din/D-DIN.otf') format('opentype'); /* Update the URL if your font file is in a different location */
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0
  /* box-sizing: border-box; */
}

#root {
  /* max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding-bottom: 6em; */
  /* font: 16px/26px D-DIN Regular, Arial, Verdana, sans-serif; */
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */  
  font-family: 'D-DIN Regular', Arial, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(#242424, #9198e5);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



/* logo */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo2 {
  height: 20em;
  will-change: filter;
  transition: filter 300ms;
}

.logo2:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  display: flex;
  justify-content: center;
  padding: 2em;
  max-width: 100%;
}

.read-the-docs {
  color: rgba(255, 255, 255, 0.87);
  font-size: 1em;
  padding: 1em;
  max-width: 950px;
}

p {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  margin-top: 1em;
  text-align: start;
  max-width: 728px;
}

.p2 {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  margin-top: 1em;
}

.p3 {
  font-family: 'D-DIN Regular', Arial, Verdana, sans-serif;
  font-size: 1.2em;
  margin-top: 1em;
}

/* header */

.header-text {
  font-family: 'D-DIN Regular', Arial, Verdana, sans-serif;
  font-size: 3.6em;
  margin-top: 1em;
}

.header-nav {
  display: block;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding-top: 20px;
  width: 100%;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-nav-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  max-width: 70%;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.header-nav-item {
  flex: 1;
  margin-left: 1rem;
}

.header-nav-item a {
  color: #fff;
  text-decoration: none;
}

.header-nav-item a:hover {
  text-decoration: underline;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

/* achor element */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* text */

.text-container {
  /* min-width: 320px;
  max-width: 728px; */
  display: flex;
  flex-direction: column;
}

/* button */

button {
  margin-top: 0.1em;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Google Form */

.google-form-embed-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
}

.google-form-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* media query */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (min-width: 768px){
  .header{justify-content: center}
  .logo{height: 9em;}
  h1 {
    font-size: 4em;
  }
  .logo2 {height: 50em}
}

@media (max-width:820px){
  .toggle-button {
    display: flex;
  }
  .toggle-button:hover {
    cursor: pointer;
  }
  .cross {
    font-size: larger;
    color: #fff;
  }
  .header-nav-list {
    display: none;
    width: 100%;
    /* position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out; */
  }
  .header-nav-list.active {
    display: flex;
  }
  .header-nav {
    flex-direction: column;  
  }
  .header-nav-list ul {
    width: 100%;
    flex-direction: column;
  }
  .header-nav-list li {
    text-align: center;
  }
  
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


