#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding-bottom: 6em;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(#242424, #9198e5);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* logo */

.logo {
  height: 9em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: rgba(255, 255, 255, 0.87);
  font-size: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

p {
  font-size: 1.2em;
  margin-top: 1em;
}

/* header */

.header { 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.header-title {
  color: #fff;
  margin: 0;
}

.header-nav {
  margin: 0;
}

.header-nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav-item {
  margin-left: 1rem;
}

.header-nav-item a {
  color: #fff;
  text-decoration: none;
}

.header-nav-item a:hover {
  text-decoration: underline;
}

/* achor element */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* text */

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* button */

button {
  margin-top: 0.1em;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* media query */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (min-width: 768px){
  .header{justify-content: space-between;}
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


